  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header><i class="ion-gear-a"></i>
          <span class="title">Basic App Settings</span>
        </nb-card-header>
        <nb-card-body>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Admin Country</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Currency Code</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Currency Symbol</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin TimeZone</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Display Date Timezone</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Email Address</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Contact Email</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Work Phone</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Admin Cell Phone</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Default Map Load Latitude</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Default Map Load Longitude</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Provider Timeout in seconds</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Provider Offline min</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Default Search Radius</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Scheduled Request Pre Start Minutes</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Number of loop for find nearest driver</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Nearest Driver Type</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Request Send To Number Of Driver</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label">Default Ride Type</label>
                  <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                  <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                  <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-sm-12">
            <div class="form-group">
              <nb-checkbox>Check me out</nb-checkbox>
            </div>
            </div>
            </div>
            <button type="submit" nbButton status="danger">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header><i class="ion-gear-a"></i>
          <span class="title">Theme Settings</span>
        </nb-card-header>
        <nb-card-body>
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Admin Country</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Currency Code</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Currency Symbol</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin TimeZone</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Display Date Timezone</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Email Address</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Contact Email</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Admin Work Phone</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Admin Cell Phone</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Default Map Load Latitude</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Default Map Load Longitude</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Provider Timeout in seconds</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Provider Offline min</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Default Search Radius</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Scheduled Request Pre Start Minutes</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Number of loop for find nearest driver</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Nearest Driver Type</label>
                  <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Request Send To Number Of Driver</label>
                  <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="label">Default Ride Type</label>
                  <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                  <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                  <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-sm-12">
            <div class="form-group">
              <nb-checkbox>Check me out</nb-checkbox>
            </div>
            </div>
            </div>
            <button type="submit" nbButton status="danger">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Using the Grid</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Radios</label>
            <div class="col-sm-9">
              <nb-radio-group>
                <nb-radio>Option 1</nb-radio>
                <nb-radio>Option 2</nb-radio>
                <nb-radio disabled>Disabled Option</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Sign in</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Form without labels</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="text" nbInput fullWidth placeholder="Recipients">
          </div>
          <div class="form-group">
            <input type="text" nbInput fullWidth placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea nbInput placeholder="Message"></textarea>
          </div>
          <button type="submit" nbButton status="success">Send</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card>
      <nb-card-header><i class="ion-gear-a"></i>
        <span class="title">Basic App Settings</span>
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputFirstName" class="label">Admin Country</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputLastName" class="label">Admin Currency Code</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputLastName" class="label">Admin Currency Symbol</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Admin TimeZone</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Display Date Timezone</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Admin Email Address</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Contact Email</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Admin Work Phone</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Admin Cell Phone</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Default Map Load Latitude</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Default Map Load Longitude</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Provider Timeout in seconds</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Provider Offline min</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Default Search Radius</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Scheduled Request Pre Start Minutes</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Number of loop for find nearest driver</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Nearest Driver Type</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Request Send To Number Of Driver</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">Default Ride Type</label>
                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1" class="label">Admin Currency Code</label>
                <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-sm-12">
          <div class="form-group">
            <nb-checkbox>Check me out</nb-checkbox>
          </div>
          </div>
          </div>
          <button type="submit" nbButton status="danger">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Block form</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">First Name</label>
              <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Last Name</label>
              <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Website</label>
              <input type="text" nbInput fullWidth id="inputWebsite" placeholder="Website">
            </div>
          </div>
        </div>
        <button type="submit" nbButton>Submit</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  
</div>
