nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}
.title {
  padding-left: 0.5rem;
}
.input-hint {
  color: #9b9c9e;
  font-family: Open Sans, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
